# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Mac desktop services file
.DS_Store

# Directories
dist/
coverage
node_modules/
